<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>ToDo List</title>
</head>
<body>
<h1>Welcome, {{ .Name }}</h1>

<article role="feed">
    <h1>POST 1</h1>
    <a href="/subscribe/1">Subscribe</a>
    <a href="/like/1">Like</a>
</article>
<article role="feed">
    <h1>POST 2</h1>
    <a href="/subscribe/2">Subscribe</a>
    <a href="/like/2">Like</a>
</article>
</body>
</html>