<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>ToDo List</title>
</head>
<body>
<h1>Welcome, User</h1>

<form action="/registration/" method="post">
    <label>
        NAME:
        <input type="text" name="name">
    </label>
    <label>
        Email:
        <input type="text" name="email">
    </label>
    <label>
        Password:
        <input type="password" name="password">
    </label>
    <button type="submit">Registration</button>
</form>

</body>
</html>